<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/site/favicon-32x32.png"/>
    <title><%- title %> | CSE 340 App</title>
    <meta name="description" content="CSE 340 Motors"/>
    <meta name="keywords" content="CSE,340,motors,cars"/>
    <meta name="author" content="Ronaldo Venancio da Silva"/>
    <meta name="copyright" content="Copyright 2024"/>
    <!-- Informations about the thags-->
    <meta name="creation-date" content="2024-11-06"/>
    <meta name="revision_date" content="2024-11-08"/>
    <meta name="version" content="1.0.0" />
    <link rel="stylesheet" href="/css/styles.css">
</head>